//@bodyBgColor: #383838;
//@contentBgColor: #434348;
//@textColor: #dcdcdc;
//@skillRateCircleColor: #ffffff;

@bodyBgColor: #000000;
@contentBgColor: #1e1e1e;
@textColor: #85e0d0;
@skillRateCircleColor: #85e0d0;
