//@bodyBgColor: #383838;
//@contentBgColor: #434348;
//@textColor: #dcdcdc;
//@skillRateCircleColor: #ffffff;

@bodyBgColor: #110f40;
@contentBgColor: #FFFCFF;
@textColor: #000000;
@skillRateCircleColor: #000000;
